<div class="about-us_content">
  <h4>ЛАСКАВО ПРОСИМО</h4>
  <h3> Ресторан "MyKitchen"</h3>
  <hr class="line">
  <p>
    <b>MyKitchen</b>, італійський ресторан з традиційною кухнею. В меню Валентино представлені класичні італійські страви: хрусткі брускетти, закуски і салати, паста і хліб власної випічки, різотто, равіолі, страви з морепродуктами, соуси і тонка хрустка італійська піца, приготована в справжній італійській печі на дровах.
    Вечорами (Пт, Сб, Нд) Валентино зачаровує гостей особливо романтичним настроєм – тихою грою скрипаля і палаючими свічками.
  </p>
</div>
<div class="content-news">
</div>
